/* CLASES COMPLEMENTARIAS A TAILWIND */

body {
    background-image: url('./imagenes/bocanada7.webp');
    opacity: 90%;
}
.swal-modal .swal-text {
    text-align: center;
}
.contenedor-titulo-texto {
    background-color: #fff;
    color: red;
}
.imagenes-disco {
    min-width: 100px!important;
    height: 100px!important;
}
.back-video {
    position: absolute;
    top: 12%;
    row-gap: 30%;
    height: 10rem;
}
.bg-class {
    background: rgba(0, 0, 0, 0.735);
}
.texto-index-content {
    font-size: 21px;
    list-style: none;
    line-height: 1.4;
    font-weight: 300;
    text-shadow: 0px 1px 1px rgba(213, 208, 208, 0.553);
}
.bg-black-custom {
    background-color: rgba(0, 0, 0, 0.731)!important;
}
.bg-black-custom2 {
    background-color: rgba(0, 0, 0, 0.395)!important;
}
.fuente {
    font-size: 23px!important;
    margin-bottom: -5px!important;
}
.fuente-subtitulo {
    margin-bottom: -5px!important;
}
.altura {
    height: 30px!important;
}
.altura-navegacion {
    height: 40px!important;
}
.sombra1 {
    -webkit-box-shadow: 1px -1px 10px -1px rgba(255, 148, 255, 0.756);
    -moz-box-shadow: 1px -1px 10px -1px rgba(255,148,255,1);
    box-shadow: 1px -1px 1px -1px rgba(255,148,255,1);
}
.margin-custom {
    margin-top: -20px;
}
.margin-cero {
    margin: 0px!important;
}
.flexi {
    display: flex!important;
    align-items: center;
}



/* MEDIA QUERIES PARA RESPONSIVE */

@media(max-width: 767px) {
    .clasee {
        display: none!important;
    }
   
}
@media (max-width:768px) {
    .back-video {
        row-gap: 30%;
    }
    .texto-index-content {
        padding: 1rem 1rem!important;
        font-size: 16px!important;
        list-style: none;
        line-height: 1.2!important;
        font-weight: 300;
        text-shadow: 0px 1px 1px rgba(213, 208, 208, 0.553);
    }
}

